
li:hover {
 background: rgba(0,0,0,0);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
}

.sortable {
	list-style-type: none; margin: 0; padding: 0; width: 450px;
}

.sortable li {
	margin: 3px 3px 3px 0;
	padding: 1px; float: left;
	width: 120px;
	height: 150px;
	font-size: 1em;
	text-align: center;
}
